/* ===== 客户管理 ===== */
.user-page {
  .user-table {
    .user-avatar {
      border: 2px solid #f0f0f0;
    }
    .user-name {
      font-weight: 600;
      font-size: 14px;
    }
    .user-username {
      color: #999;
      font-size: 12px;
    }
  }
}
